<html lang="en" style="background-color:black;background-size: cover;overflow: hidden;">
<title>ATouMu音乐</title>
<body style="align-items: center;background-color:black;">
    <!-- a标签可以修改为所部署的服务器ip或域名（推荐使用域名，安全） -->
    <a href="https://znana.top" style="text-decoration: none;color: white;"><h1 style="position: relative;left: 35%;text-shadow: 1px 1px 4px rgb(0, 242, 255);">欢迎使用ATouMu音乐平台</h1></a>
    <p style="line-height: 30px;font-size: large;position: relative;left: 10%;color: white;text-shadow: 1px 1px 4px rgb(0, 242, 255);">
        nickname  您好！<br>
        您的验证码是：code<br>
        ⚠️ 请勿回复此邮件
    </p>
</body>
</html>