[[source]]
url = "http://znana.top:9090/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
mutagen = "*"
flask = "*"
pyjwt = "*"
dbutils = "*"
pyyaml = "*"
pymysql = "*"
loguru = "*"
uvicorn = "*"
gunicorn = "*"
gevent = "*"
waitress = "*"
pipdeptree = "*"

[dev-packages]

[requires]
python_version = "3.9"
